<nav class="menuRech" ng-class="{actived:showDialog}" style="background: rgba(0,0,0,.3);z-index:30">
    <div style="width:100%; height:120px">
        <div class="dialog">
            <div class="form-group required">
                <input type="text" class="form-control" id="titre" placeholder="Saisir le titre" ng-model="Recherche.title" required />
            </div>
            <div style="width:150px; margin:25px auto">
                <button type="button" class="btn btn-default btn-sm" ng-click="ShowHideDialog()">Fermer</button>
                <button type="button" class="btn btn-warning btn-sm" ng-click="CreateRecherche()">Confirmer</button>
            </div>

        </div>
    </div>
    <div style="height:100%">
    </div>
</nav>
<nav class="menuRech" ng-class="{actived:showLoading}" style="background: rgba(0,0,0,.3);z-index:99">
    <center style="top:250px">
        <img src="images/loading.gif" width="64" height="64" />
    </center>
</nav>
<nav class="menuTrie" ng-class="{actived:ShowMenu}">
    <ul class="menuUl">
        <li ng-click="ListSortByPrix()"><a>Trier par prix</a></li>
        <li ng-click="ListSortByDate()"><a>Trier par date</a></li>
        <li ng-click="ShowHideDialog()"><a>Sauvegarder la recherche</a></li>
    </ul>
</nav>
<nav class="menuRech" ng-class="{actived:showRech}">
    <div style="width:20%; height:inherit; float:left; background: rgba(0,0,0,.3);" ng-click="ShowHideRech()">

    </div>
    <div style="width:80%; height:inherit; background-color:white; float:right; padding:20px">
        <div class="form-group">
            <input type="text" class="form-control" id="motCle" placeholder="Mot(s) clé(s)" ng-model="Recherche.motsCle">
        </div>
        <div class="form-group">
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox3" ng-model="Recherche.offre"> Offre
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox4" ng-model="Recherche.demande"> Demande
            </label>
        </div>
        <span class="glyphicon glyphicon-tags iconTitre" aria-hidden="true"><span class="titre">Région</span></span>
        <div class="chosen-container chosen-container-single" style=" width:100%;" title="">
            <a class="chosen-single" tabindex="-1" onclick="showHideListCombo('#listReg')" style="height:35px; font-size:medium">
                <span>{{selectedRegion.label}}</span>
                <div>
                    <b></b>
                </div>
            </a>
            <div class="chosen-drop" id="listReg">
                <div class="chosen-search">
                    <input type="text" autocomplete="off" class="" ng-model="rechRegion" style="height:35px; font-size:medium">
                </div>
                <ul class="chosen-results">
                    <li ng-repeat="rg in regions | filter:rechRegion" ng-click="setRegion(rg)" class="active-result" data-option-array-index="{{rg.id}}" style="height:35px; font-size:medium">{{rg.label}}</li>
                </ul>
            </div>
        </div>
        <br />
        <div class="form-group" style="margin-top:20px">
            <input type="text" class="form-control" id="ville" placeholder="Villes ou codes postaux">
        </div>
        <span class="glyphicon glyphicon-tags iconTitre" aria-hidden="true"><span class="titre">Catégorie</span></span>
        <div class="chosen-container chosen-container-single" style="width: 100%;" title="">
            <a class="chosen-single" tabindex="-1" onclick="showHideListCombo('#listCat')" style="height:35px; font-size:medium">
                <span>{{selectedCategorie.label}}</span>
                <div>
                    <b></b>
                </div>
            </a>
            <div class="chosen-drop" id="listCat">
                <div class="chosen-search">
                    <input type="text" autocomplete="off" class="" ng-model="rechCategorie" style="height:35px; font-size:medium">
                </div>
                <ul class="chosen-results">
                    <li ng-repeat="ct in categories | filter:rechCategorie" ng-click="setCategorie(ct)" class="active-result" data-option-array-index="{{ct.id}}" style="height:35px; font-size:medium">{{ct.label}}</li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <span class="glyphicon glyphicon-euro iconTitre" aria-hidden="true"><span class="titre">Prix</span></span>
            <input type="number" class="form-control" id="prixMin" placeholder="Minimun" ng-model="Recherche.prixMin">
            <input type="number" class="form-control" id="prixMax" placeholder="Maximun" ng-model="Recherche.prixMax">
        </div>
        <div class="form-group">
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" ng-model="Recherche.particulier"> Particulier
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox2" ng-model="Recherche.professionnel"> Professionnel
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" checked="checked" ng-model="Recherche.urgent"> Annonces urgentes uniquement
            </label>
        </div>
        <button class="btn btn-warning btn-lg btn-block" style="margin-left:auto; margin-right:auto" ng-click="LancerRecherche()">Rechercher</button>
    </div>
</nav>
<div class="headPanel" style="position:fixed;z-index:35">
    <div class="contentPanel">
        <div class="leftPanel">
            <a onclick="AfficheMenu()">
                <img src="images/ic_action_storage.png" />
            </a>

        </div>
        <div class="centerPanel">
            Offres
        </div>
        <div class="rightPanel">
            <ul>
                <li ng-show="!showBtn">
                    <a class="btnMenu" ng-click="ShowHideDialog()">
                        <img src="images/ic_action_save.png" />
                    </a>
                </li>
                <li ng-show="showBtn">
                    <a ng-click="ShowHideMenu()" class="btnMenu">
                        <img src="images/ic_action_overflow.png" />
                    </a>
                </li>
                <li ng-show="showBtn" id="c-button--slide-right">
                    <a ng-click="ShowHideRech()" class="btnMenu">
                        <img src="images/ic_action_search.png" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="deconnecter" ng-show="!connexion">
        <center style="font-size:small">Problème de connexion</center>
    </div>
    <div class="connecter" ng-show="false">
        <center style="font-size:small">Connexion établie</center>
    </div>
</div>
<div class="listAnnonce" infinite-scroll="addToListOfreP()" infinite-scroll-distance="3">
    <ul>
        <li ng-repeat="ann in listAnnP" class="effect">
            <div style="width:90%; float:left" ng-click="showDetails(ann, $index)">
                <img src="{{ann.photos[0].uri}}">
                <h5>{{ann.titre}}</h5>
                <span class="prix">{{ann.prix}}{{devise}} </span>
                <p>{{ann.categorie.label}}</p>
                <p>{{ann.ville.label}}</p>
                <p>{{ann.createdAt}}</p>
            </div>
            <div style="width:10%; float:right">
                <img id="im_{{ann._id}}" ng-click="favorisimage(ann)" src="images/jaimepas.png" style="width:32px;height:32px;float:right" />
            </div>
        </li>
    </ul>
</div>
