<div class="headPanel" style="position:fixed;z-index:35">
    <div class="contentPanel">
        <div class="leftPanel">
            <a onclick="AfficheMenu()">
                <img src="images/ic_action_storage.png" />
            </a>

        </div>
        <div class="centerPanel">
            Favoris
        </div>
        <div class="rightPanel">

        </div>
    </div>
    <div class="deconnecter" ng-show="!connexion">
        <center style="font-size:small">Problème de connexion</center>
    </div>
    <div class="connecter" ng-show="false">
        <center style="font-size:small">Connexion établie</center>
    </div>
</div>
<div class="listAnnonce">
    <ul>
        <li ng-repeat="ann in listAnn" class="effect">
            <div style="width:80%; float:left" ng-click="showDetails(ann)">
                <img src="{{ann.photos[0].uri}}">
                <h5>{{ann.titre}}</h5>
                <span class="prix">{{ann.prix}}{{devise}} </span>
                <p>{{ann.categorie.label}}</p>
                <p>{{ann.ville.label}}</p>
                <p>{{ann.dateAff}}</p>
            </div>
            <div style="width:20%; float:right">
                <img id="im_{{ann._id}}" ng-click="favorisimage(ann)" src="images/jaime.png" style="width:32px;height:32px;float:right" />
            </div>
        </li>
    </ul>
</div>
