<nav class="menuRech" ng-class="{actived:showBtnSave}">
    <div style="width:20%; height:inherit; float:left; background: rgba(0,0,0,.3);" ng-click="ShowHideSave()">

    </div>
    <div style="width:80%; height:inherit; background-color:white; float:right; padding:20px">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="titre" placeholder="Titre" ng-model="Recherche.title" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="motCle" placeholder="Mot(s) clé(s)" ng-model="Recherche.motsCle">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" checked="checked" ng-model="Recherche.avecDesc"> Inclure la description dans la recherche
                </label>
            </div>
            <span class="glyphicon glyphicon-tags iconTitre" aria-hidden="true"><span class="titre">Région</span></span>
            <div class="chosen-container chosen-container-single" style=" width:100%;" title="">
                <a class="chosen-single" tabindex="-1" onclick="showHideListCombo('#listReg')">
                    <span>{{selectedRegion.label}}</span>
                    <div>
                        <b></b>
                    </div>
                </a>
                <div class="chosen-drop" id="listReg">
                    <div class="chosen-search">
                        <input type="text" autocomplete="off" class="" ng-model="rechRegion">
                    </div>
                    <ul class="chosen-results">
                        <li ng-repeat="rg in regions | filter:rechRegion" ng-click="setRegion(rg)" class="active-result" data-option-array-index="{{rg.id}}">{{rg.label}}</li>
                    </ul>
                </div>
            </div>
            <br />
            <div class="form-group" style="margin-top:20px">
                <input type="text" class="form-control" id="ville" placeholder="Villes ou codes postaux">
            </div>
            <span class="glyphicon glyphicon-tags iconTitre" aria-hidden="true"><span class="titre">Catégorie</span></span>
            <div class="chosen-container chosen-container-single" style="width: 100%;" title="">
                <a class="chosen-single" tabindex="-1" onclick="showHideListCombo('#listCat')">
                    <span>{{selectedCategorie.label}}</span>
                    <div>
                        <b></b>
                    </div>
                </a>
                <div class="chosen-drop" id="listCat">
                    <div class="chosen-search">
                        <input type="text" autocomplete="off" class="" ng-model="rechCategorie">
                    </div>
                    <ul class="chosen-results">
                        <li ng-repeat="ct in categories | filter:rechCategorie" ng-click="setCategorie(ct)" class="active-result" data-option-array-index="{{ct.id}}">{{ct.label}}</li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="option1"> Particulier
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox2" value="option2"> Professionnel
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" checked="checked"> Annonces urgentes uniquement
                </label>
            </div>
        </form>
    </div>
</nav>
<div class="headPanel" style="position:fixed;z-index:35">
    <div class="contentPanel">
        <div class="leftPanel">
            <a onclick="AfficheMenu()">
                <img src="images/ic_action_storage.png" />
            </a>

        </div>
        <div class="centerPanel">
            Recherches
        </div>
        <div class="rightPanel">
            <ul>
                <li ng-show="showBtnSave">
                    <a ng-click="CreateUpdateRech()" class="btnMenu">
                        <img src="images/ic_action_save.png" />
                    </a>
                </li>
                <li ng-show="showBtnAdd">
                    <a ng-click="ShowHideSave()" class="btnMenu">
                        <img src="images/ic_action_new.png" />
                    </a>
                </li>
                <li ng-show="showBtnDelete">
                    <a class="btnMenu" ng-click="DeleteList()">
                        <img src="images/ic_action_discard.png" />
                    </a>
                </li>
                <li ng-show="showBtnEdit">
                    <a class="btnMenu" ng-click="ShowModif()">
                        <img src="images/ic_action_edit.png" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="listAnnonce">
    <ul>
        <!--TODO : ngRepeat-->
        <li ng-repeat="rech in recherches">
            <div style="width:90%; float:left" ng-click="ShowResultatRecherche(rech)">
                <h4>{{rech.title}}</h4>
            </div>
            <div style="width:10%; float:right">
                <input type="checkbox" ng-click="SelectRech($event, rech)" style="width:24px;height:24px;float:right" />
            </div>
        </li>
    </ul>
</div>
