<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <!--
        Personnalisez la stratégie de sécurité de contenu dans la balise méta ci-dessous selon vos besoins. Ajoutez 'unsafe-inline' à default-src pour activer JavaScript directement dans les lignes.
        Pour obtenir des détails, consultez http://go.microsoft.com/fwlink/?LinkID=617521
    -->
    <title>SolutionAnnonces</title>

    <!-- Références css Externe -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/angular-toastr.min.css" rel="stylesheet" />
    <link href="css/chosen.css" rel="stylesheet" />

    <!--Owl carousel-->
    <link href="css/owl.carousel.css" rel="stylesheet" />
    <link href="css/owl.theme.css" rel="stylesheet" />

    <!--Références css mobile-angular-ui
    <link href="css/mobile-angular-ui-hover.min.css" rel="stylesheet" />
    <link href="css/mobile-angular-ui-base.min.css" rel="stylesheet" />
    <link href="css/mobile-angular-ui-desktop.min.css" rel="stylesheet" />-->

    <!-- Références SolutionAnnonces -->
    <link href="css/index.css" rel="stylesheet" />

</head>
<body ng-app="app">
    <nav class="menu" id="menuP" ng-controller="NavigationCtrl">
        <div class="mainmenu">
            <ul>
                <li ng-click="NavigateTo('#/')"><a><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;Accueil</a></li>
                <li ng-click="NavigateTo('#/nvlAnnonce')"><a><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;Nouvelle annonce</a></li>
                <li ng-click="NavigateTo('#/listOffre')"><a><span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;Liste des offres</a></li>
                <li ng-click="NavigateTo('#/listDemande')"><a><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;Liste des demandes</a></li>
                <li ng-click="NavigateTo('#/listAnnoncesFav')"><a><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp;Annonces favoris</a></li>
                <li ng-click="NavigateTo('#/listRecherche')"><a><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;Recherches sauvegardés</a></li>
                <li ng-click="NavigateTo('#/annonceEnLigne')"><a><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp;Mes annonces en ligne</a></li>
                <li ng-click="NavigateTo('#/authentification')"><a><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Se connecter</a></li>
                <li><a><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Quitter</a></li>
            </ul>
        </div>
        <div class="transparentdiv" onclick="RetourPage()">
        </div>
    </nav>
    <article id="principal">
        <div ng-view style="min-height:100%;"></div>
    </article>
    <!--Référence google map-->
    <script src="scripts/ressources/maps.googleapis.js"></script>

    <!-- Référence AngularJS, Bootstrap, Jquery .....-->
    <script src="scripts/ressources/jquery-2.1.4.min.js"></script>
    <script src="scripts/ressources/jquery-migrate-1.2.1.min.js"></script>
    <script src="scripts/ressources/angular.min.js"></script>
    <script src="scripts/ressources/angular-route.min.js"></script>
    <script src="scripts/ressources/angular-animate.min.js"></script>
    <script src="scripts/ressources/bootstrap.min.js"></script>
    <script src="scripts/ressources/angular-toastr.tpls.min.js"></script>
    <script src="scripts/ressources/chosen.jquery.js"></script>
    <script src="scripts/ressources/jquery-dateFormat.min.js"></script>
    <script src="scripts/ressources/mobile-angular-ui.min.js"></script>
    <script src="scripts/ressources/mobile-angular-ui.gestures.min.js"></script>
    <script src="scripts/ressources/ngRepeatOwlCarousel.min.js"></script>
    <script src="scripts/ressources/owl.carousel.js"></script>

    <!-- Référence Cordova ajoutée à votre application une fois générée. -->
    <script src="scripts/ressources/ng-cordova.js"></script>
    <script src="cordova.js"></script>
    <script src="scripts/platformOverrides.js"></script>

    <!-- Référence standars -->
    <script src="scripts/index.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/utile.js"></script>

    <!-- Référence des factory de l'application -->
    <script src="scripts/factory/PhotoFctr.js"></script>
    <script src="scripts/factory/AnnonceFctr.js"></script>
    <script src="scripts/factory/CategorieFctr.js"></script>
    <script src="scripts/factory/RegionFctr.js"></script>
    <script src="scripts/factory/VilleFctr.js"></script>
    <script src="scripts/factory/RechercheFctr.js"></script>
    <script src="scripts/factory/CompteFctr.js"></script>
    <script src="scripts/factory/AbusFctr.js"></script>
    <script src="scripts/factory/MotifAbusFctr.js"></script>

    <!-- Référence des controlers de l'application -->
    <script src="scripts/controllers/AbusCtrl.js"></script>
    <script src="scripts/controllers/AccueilCtrl.js"></script>
    <script src="scripts/controllers/AuthentificationCtrl.js"></script>
    <script src="scripts/controllers/DetailAnnonceCtrl.js"></script>
    <script src="scripts/controllers/ListOffreCtrl.js"></script>
    <script src="scripts/controllers/ListRechercheCtrl.js"></script>
    <script src="scripts/controllers/MailCtrl.js"></script>
    <script src="scripts/controllers/NavigationCtrl.js"></script>
    <script src="scripts/controllers/NvlAnnonceCtrl.js"></script>
    <script src="scripts/controllers/MapAnnoncesCtrl.js"></script>
    <script src="scripts/controllers/ListDemandeCtrl.js"></script>
    <script src="scripts/controllers/ListAnnoncesFavCtrl.js"></script>
    <script src="scripts/controllers/AnnonceEnLigneCtrl.js"></script>
</body>
</html>